body{
  margin:0;
  font-family: system-ui;
  height:100vh;

  background:
  linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
  url("fondo-applebees.jpg");

  background-size: cover;
  background-position: center;

  display:flex;
  justify-content:center;
  align-items:center;
}

/* tarjeta estilo App Store */
.app-card{
  background: rgba(20,20,20,0.8);
  padding:40px;
  border-radius:25px;
  text-align:center;
  width:320px;
  color:white;
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 50px rgba(0,0,0,.4);
}

.app-icon{
  width:100px;
  border-radius:22px;
  margin-bottom:10px;
}

.subtitle{
  opacity:.8;
  margin-bottom:20px;
}

.info{
  display:flex;
  justify-content:space-between;
  margin:20px 0;
  font-size:14px;
}

.info span{
  display:block;
  opacity:.6;
  font-size:12px;
}

.install-button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#e31837;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.install-button:hover{
  transform:scale(1.05);
}

.ios-text{
  margin-top:15px;
  font-size:14px;
  opacity:.8;
}
