body{
  font-family: Arial;
  background:#500b0b;
  color:rgb(255, 255, 255);
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

.container{
  text-align:center;
}

button{
  display:block;
  margin:15px auto;
  padding:15px 25px;
  border:none;
  border-radius:10px;
  background:#e31837;
  color:white;
  font-size:18px;
  cursor:pointer;
}
